[Desktop Entry]
Name=gTTS GUI
Comment=GUI for Google Text-to-Speech
Comment[ca@valencia]=GUI per a Google Text-to-Speech
Comment[es]=GUI para Google Text-to-Speech
Exec=gtts-gui
Icon=com.lliurex.gttsgui
Terminal=false
Type=Application
Categories=Education;Languages;Qt;
Keywords=text;speech;google;tts;
StartupNotify=true
